body
{
	background: url(https://wallpapercave.com/wp/wp2973417.jpg); 
	background-size: cover;
	background-position: center;
	font-family: Exo 2;

}

color-me{
	color: white;
}
.margin-left{
    margin-left: 80px ;
}
#content{
	text-align:center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);

}
h1{
	color: 	white;

	font-size: 5em;

}
h3{
	color:	white;
}
.navbar-custom {
    color: white;
    border: 2;
   }
html{
	height: 100%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    
    width: 400px;
}